---
import "../styles/global.css";
import "../styles/galery.css";
import "keen-slider/keen-slider.min.css";
import "react-photo-view/dist/react-photo-view.css";
import LoadingWrapper from "../components/loading/LoadingWrapper";
import SpeedInsights from "@vercel/speed-insights/astro";
import Analytics from "@vercel/analytics/astro";
const { title = "TALLER DE PROYECTOS INGENIERIA Y DELINEACION SL" } =
  Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title ?? "Taller de Proyectos"}</title>
    <!-- Favicon -->
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/favicon.png" />

    <!-- Web Manifest -->
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="TALLER DE PROYECTOS INGENIERIA Y DELINEACION SL: arquitectura, ingeniería y delineación técnica en Almería y Pulpí. Expertos en proyectos, legalizaciones, eficiencia energética y modelado 3D. 20 años de experiencia y 200+ proyectos avalan nuestra calidad. Presupuesto sin compromiso."
    />
    <!-- SEO -->
    <meta
      property="og:title"
      content="TALLER DE PROYECTOS INGENIERIA Y DELINEACION SL"
    />
    <meta
      property="og:description"
      content="Estudio de arquitectura, ingeniería y delineación técnica en Almería, Pulpí..."
    />
    <meta property="og:type" content="website" />

    <meta property="og:url" content="https://tallerdeproyectos.es/" />
    <meta
      property="og:image"
      content="https://ik.imagekit.io/proyectostd/images/logo/logo.webp?updatedAt=1754216876949"
    />
    <meta
      property="og:description"
      content="TALLER DE PROYECTOS INGENIERIA Y DELINEACION SL: arquitectura, ingeniería y delineación técnica en Almería, Pulpí. Más de 20 años transformando ideas en proyectos reales. Especialistas en legalizaciones, certificados, eficiencia energética y visualización 3D. ¿Tienes un proyecto? Solicita tu presupuesto sin compromiso."
    />
  </head>
  <body class="font-sans bg-white text-black scroll-smooth">
    <LoadingWrapper client:load>
      <slot name="header" />
      <main>
        <slot />
      </main>
      <slot name="footer" />
    </LoadingWrapper>
    <script is:inline src="/scripts/scrollEffects.js"></script>
    <Analytics />
    <SpeedInsights />
  </body>
</html>
